# !! dashboard login !!
# its highly recommended you change the path and password so they aren't easily found or guessed
DASHBOARD_PATH=/dashboard
# this must match the name of a real elder in your server
DASHBOARD_USER=elder
# this can be anything you want
DASHBOARD_PASSWORD=replace-with-a-long-random-password
# this must match the account id of a real elder in your server
DASHBOARD_ACCOUNT_ID=123

# if your server is going over https, you can set this to 1
DASHBOARD_SECURE_COOKIES=0

# !! daily chest reward configuration !!
# uncomment and change these values to override the built-in defaults!
# CHEST1_WAIT=14400
# CHEST2_WAIT=86400
# CHEST1_MIN_ORBS=20
# CHEST1_MAX_ORBS=100
# CHEST1_MIN_DIAMONDS=1
# CHEST1_MAX_DIAMONDS=3
# CHEST1_MIN_KEYS=1
# CHEST1_MAX_KEYS=3
# CHEST2_MIN_ORBS=100
# CHEST2_MAX_ORBS=200
# CHEST2_MIN_DIAMONDS=5
# CHEST2_MAX_DIAMONDS=10
# CHEST2_MIN_KEYS=1
# CHEST2_MAX_KEYS=3